.disabled {
  background: rgb(102, 102, 102, 0.8) !important;
  cursor: not-allowed !important;
  color: #c0c4cc !important;
  border-radius: 4px;
}
.disabled-child{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  background: transparent;
  cursor: not-allowed !important;
  border-radius: 4px;
}
